{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>iPortfolio - Daniel Modilevsky</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,
    400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link href="{% static 'admin/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin/vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'admin/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin/vendor/aos/aos.css' %}" rel="stylesheet">



    <link href="{% static 'style.css' %}" rel="stylesheet">


</head>

<body>
<!-- ======= Mobile nav toggle button ======= -->
    <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    <header id="header">
        <div class="d-flex flex-column">

            <div class="profile">
                <img src="{% static "admin/img/profile-img.jpg" %}" alt="" class="img-fluid rounded-circle">
                <h1 class="text-light"><a href="index.html">Daniel Modilevsky</a></h1>
                <div class="social-links mt-3 text-center">
                    <a href="https://github.com/Daniel-Modilevsky" class="github" target="_blank"><i class="bx bxl-github" target="_blank"></i></a>
                    <a href="https://facebook.com/Daniel.Modilevskiy" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
                    <a href="https://s3.amazonaws.com/archivos-cvonline/assets/pdf/789812/CV_Daniel_Modilevsky.pdf" class="cv" target="_blank"><i class="bx bx-file"></i></a>
                    <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=Daniel.Modilevsky@Gmail.com&tf=1" class="google-plus" target="_blank"><i class="bx bxl-google"></i></a>
                    <a href="https://www.linkedin.com/in/daniel-modilevsky-48a9a2195" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
                </div>
            </div>

            <nav class="nav-menu">
                <ul>
                    <li class="active"><a href="index.html"><i class="bx bx-home"></i> <span>Home</span></a></li>
                    <li><a href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>
                    <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
                    <li><a href="#portfolio"><i class="bx bx-book-content"></i> Projects</a></li>
                    <li><a href="#services"><i class="bx bx-server"></i> Services</a></li>
                    <li><a href="#contact"><i class="bx bx-envelope"></i> Contact</a></li>

                </ul>
            </nav>
            <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

        </div>
    </header>

    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="hero-container" data-aos="fade-in">
            <h1>Daniel Modilevsky</h1>
            <p>I'm <span class="typed" data-typed-items="BI Developer, Web Junior Developer, Data Analyst"></span></p>
        </div>
    </section>

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="section-title">
                    <h2>About</h2>
                </div>

                <div class="row">
                    <div class="col-lg-4" data-aos="fade-right">
                        <img src="{% static "admin/img/profile-img.jpg" %}" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                        <h3> Web Developer &amp; BI Developer.</h3>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="icofont-rounded-right"></i> <strong>Birthday:</strong> 9 Feb 1994</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Website:</strong> www.example.com</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>City:</strong> City : Ramat Gan, Israel</li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 26</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> BSc student</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> Daniel.Modilevsky@gmail.com</li>

                                </ul>
                            </div>
                        </div>
                        <p>
                            Web developer with 1 plus years of front end experience and for responsive erbsite design. BI data analyst interpreting data, analyzing result and develop a new data models for the organization
                        </p>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->

        <!-- ======= Skills Section ======= -->
        <section id="skills" class="skills section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Skills</h2>
                </div>

                <div class="row skills-content">

                    <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul>
                                    <li><i class="icofont-rounded-right"></i> <strong>Core Languages: </strong> C, C++, Python</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Front End: </strong>HTML5, CSS3, JS, Jquery, Bootstrap</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Back End: </strong>Django</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>DB: </strong>Oracle, SQL Server, MySql, SQLite </li>
                                    <li><i class="icofont-rounded-right"></i> <strong>BI: </strong>Informatica Powercenter, SSRS Report Builder</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Concepts: </strong>Design patterns, UML Diagram, Agile Scrum methodologic</li>
                                    <li><i class="icofont-rounded-right"></i> <strong>Protocols: </strong>Https, JSON</li>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </section><!-- End Skills Section -->

        <!-- ======= Resume Section ======= -->
        <section id="resume" class="resume">
            <div class="container">

                <div class="section-title">
                    <h2>Resume</h2>

                </div>

                <div class="row">
                    <div class="col-lg-6" data-aos="fade-up">
                        <h3 class="resume-title">Sumary</h3>
                        <div class="resume-item pb-0">
                            <h4>Daniel Modilevsky</h4>
                            <p><em>web junior developer and BI Developer with 1 year of experience designing and developing user-interface digital/print marketing material from initial concept to final, polished deliverable.</em></p>
                        </div>

                        <h3 class="resume-title">Education</h3>
                        <div class="resume-item">
                            <h4> Software Engineering </h4>
                            <h5>2018 - Till now </h5>
                            <p><em>Shenkar College, Tel Aviv, Israel</em></p>
                            <p>The systematic application of scientific and technological knowledge, methods, and experience to the design, implementation, testing, and documentation of software</p>
                        </div>
                    </div>
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                        <h3 class="resume-title">Professional Experience</h3>
                        <div class="resume-item">
                            <h4>Web Projector</h4>
                            <h5>2020 - Present</h5>
                            <p><em>IDF, Israel </em></p>
                            <ul>
                                <li>Projector offers web services to extend the functionality of the system, allow to integrate with third party software like business intelligence tools, and to extract or upload data from the servers</li>
                                <li>services tie into our reporting</li>
                                <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>
                            </ul>
                        </div>
                        <div class="resume-item">
                            <h4>BI Developer</h4>
                            <h5>2020 - 2019</h5>
                            <p><em>IDF, Israel</em></p>
                            <ul>
                                <li>Building OLAP, and online analytical processing</li>
                                <li>Work with databases, both relational and multidimensional</li>
                                <li>Designing, coding and testing implementing newly developed tools to manage data</li>
                            </ul>
                        </div>
                        <div class="resume-item">
                            <h4>Data analyst</h4>
                            <h5>2018 - 2019</h5>
                            <p><em>IDF, Israel</em></p>
                            <ul>
                                <li>Interpreting data, analyzing results using statistical techniques
                                </li>
                                <li>Developing and implementing data analyses, data collection systems and other strategies that optimize statistical efficiency and quality</li>
                                <li>Acquiring data from primary or secondary data sources and maintaining databases</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Resume Section -->

        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Projects</h2>
                    <p>Explanation about mine last projects in a few different languages. Most of the projects here are madied in private time, not included the projects of the work.
                        The Project included photo, details, software and URL to download.</p>
                </div>

                <div class="container">
                    <div id="container-3">
                        <div id="project-1">
                            <article class="article-proj">
                                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
                                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                                        <div class="portfolio-wrap">
                                            <img src="{% static "admin/img/LinkYourSelf-Mini.png" %}" alt="" class="img-fluid">
                                            <div class="portfolio-links">
                                                <a href="{% static "admin/img/LinkYourself.png" %}" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                                                <a href="http://shenkar.html5-book.co.il/2019-2020/web1/dev_227/index.html" title="More Details" target="_blank"><i class="bx bxl-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <aside class="aside-proj">
                                <section class="aside-body">
                                    <h3>Link Yourself - Web</h3>
                                    <nav class="icons-nav">
                                        <ul>
                                            <li><img src="{% static "admin/img/sqlite.png" %}"></li>
                                            <li><img src="{% static "admin/img/css.png" %}"></li>
                                            <li><img src="{% static "admin/img/js.png" %}"></li>
                                            <li><img src="{% static "admin/img/python.png" %}"></li>
                                            <li><img src="{% static "admin/img/django.png" %}"></li>
                                        </ul>
                                    </nav>
                                    <p class="aside-description">
                                        Website for making a private Dashboard for the user to collect URL's.
                                        The Collaction ordered in hierarchy of Private Catalog, A few Lists, and the main object the URL.
                                        The system have an option to connect user's friends and recommend about friend's popular URL's.
                                    </p>
                                </section>
                            </aside>
                        </div>
                        <div id="project-2">
                            <aside class="aside-proj">
                                <section class="aside-body">
                                    <h3>Board Games</h3>
                                    <nav class="icons-nav">
                                        <ul>
                                            <li><img src="{% static "admin/img/c.png" %}"></li>
                                            <li><img src="{% static "admin/img/c++.png" %}"></li>
                                            <li><img src="{% static "admin/img/css.png" %}"></li>
                                            <li><img src="{% static "admin/img/js.png" %}"></li>
                                        </ul>
                                    </nav>
                                    <p class="aside-description">
                                        Four Board Games on different language:
                                    </p>
                                    <ul>
                                        <li>Snake - C++</li>
                                        <li>Tic Tac Tou - C</li>
                                        <li>Catch - C++</li>
                                        <li>Ping Pong - HTML5, CSS3, JS</li>
                                    </ul>
                                </section>
                            </aside>
                            <article class="article-proj">
                                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
                                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                                        <div class="portfolio-wrap">
                                            <img src="{% static "admin/img/Board-Games-Mini.png" %}" class="img-fluid" alt="">
                                            <div class="portfolio-links">
                                                <a href="{% static "admin/img/Board-Games.png"  %}" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                                                <a href="https://github.com/Daniel-Modilevsky" title="More Details" target="_blank"><i class="bx bxl-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div id="project-3">
                            <article class="article-proj">
                                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
                                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                                        <div class="portfolio-wrap">
                                           <img src="{% static "admin/img/UI-UX-mini.png" %}" class="img-fluid" alt="">
                                            <div class="portfolio-links">
                                                <a href="{% static "admin/img/UI-UX.png" %}" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                                                <a href="https://app.moqups.com/36cgx8ShKu/view/page/aaad32e56" title="More Details" target="_blank"><i class="bx bxl-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <aside class="aside-proj">
                                <section class="aside-body">
                                    <h3>Smart Socket App Mockup</h3>
                                    <nav class="icons-nav">
                                        <ul>
                                            <li><img src="{% static "admin/img/moqups.png" %}"></li>
                                        </ul>
                                    </nav>
                                    <p class="aside-description">
                                        Mockup finel project of UI/UX course. The project about application for mobile that collect and control data from a new device "Smart Swimming Socket".
                                    </p>
                                </section>
                            </aside>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Portfolio Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container">

                <div class="section-title">
                    <h2>Services</h2>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                        <div class="icon"><i class="icofont-computer"></i></div>
                        <h4 class="title"><a href="">System Characterization</a></h4>
                        <p class="description">Helping clients with the implementation of web systems development that align with their target demographic and help clients reach out to them in the best way possible. Whether you need an e-commerce solution, a business automation system such as CRM, ERP, and BI, Eternitech provides these services while using the latest technologies</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" aos-delay="200">
                        <div class="icon"><i class="icofont-earth"></i></div>
                        <h4 class="title"><a href="">WEB Systems Development</a></h4>
                        <p class="description">Acreate websites that are easily navigated by customers that our client wishes to reach and focus on all areas from development to monitoring by Using the the latest technologies</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
                        <h4 class="title"><a href="">Analyzing Business Data</a></h4>
                        <p class="description">Activities to help managers make strategic decisions, achieve major goals and solve complex problems, by collecting, analyzing and reporting the most useful information relevant to managers' needs</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon"><i class="icofont-image"></i></div>
                        <h4 class="title"><a href="">Data Visualization </a></h4>
                        <p class="description">Producing objects that communicate relationships among the represented data to viewers of the objects. This communication is achieved through the use of a systematic mapping between graphic marks and data values in the creation of the visualization</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="icofont-settings"></i></div>
                        <h4 class="title"><a href="">Software Development</a></h4>
                        <p class="description">Proggramming with OOP using Software Engeniering principles SOLID and by using Design Patterns to implement effective code</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                        <div class="icon"><i class="icofont-tasks-alt"></i></div>
                        <h4 class="title"><a href="">Team Work Platform</a></h4>
                        <p class="description">Working with other proggramers at Agile & Scrum on Jira and Trello. Working on 2-4 weeks of sprint and daily meeting till ending and uploading to production </p>
                    </div>
                </div>

            </div>
        </section><!-- End Services Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2>Contact</h2>
                </div>

                <div class="row" data-aos="fade-in">

                    <div class="col-lg-5 d-flex align-items-stretch">
                        <div class="info">
                            <div class="linkedin">
                                <i class="icofont-linkedin"></i>
                                <h4>LinkedIn:</h4>
                                <p> <a href="https://www.linkedin.com/in/daniel-modilevsky-48a9a2195" class="linkedin" target="_blank">Link-Daniel-Modilevsky</a>
                                </p>
                            </div>
                            <div class="github">
                                <i class="icofont-github"></i>
                                <h4>Github:</h4>
                                <p> <a href="https://github.com/Daniel-Modilevsky" class="github" target="_blank">Git-Daniel_Modilevsky</a>
                                </p>
                            </div>
                            <div class="google-plus">
                                <i class="icofont-envelope"></i>
                                <h4>Gmail:</h4>
                                <p> <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=Daniel.Modilevsky@Gmail.com&tf=1" class="linkedin" target="_blank">Daniel.Modilevsky@gmail.com</a>
                                </p>
                            </div>
                            <div class="cv">
                                <i class="icofont-file-document"></i>
                                <h4>CV:</h4>
                                <p> <a href="https://s3.amazonaws.com/archivos-cvonline/assets/pdf/789812/CV_Daniel_Modilevsky.pdf" class="linkedin" target="_blank">Download PDF</a>
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="name">Your Name</label>
                                    <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validate"></div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name">Your Email</label>
                                    <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validate"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Subject</label>
                                <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group">
                                <label for="name">Message</label>
                                <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                                <div class="validate"></div>
                            </div>
                            <div class="mb-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>
                    </div>


                </div>
            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->


    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- ======= JavaScript ======= -->
    <script src="{% static 'admin/vendor/jquery/jquery.min.js' %}" ></script>
    <script src="{% static 'admin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}" ></script>
    <script src="{% static 'admin/vendor/jquery.easing/jquery.easing.min.js' %}" ></script>
    <script src="{% static 'admin/vendor/php-email-form/validate.js' %}" ></script>
    <script src="{% static 'admin/vendor/waypoints/jquery.waypoints.min.js' %}" ></script>
    <script src="{% static 'admin/vendor/counterup/counterup.min.js' %}" ></script>
    <script src="{% static 'admin/vendor/isotope-layout/isotope.pkgd.min.js' %}" ></script>
    <script src="{% static 'admin/vendor/venobox/venobox.min.js' %}" ></script>
    <script src="{% static 'admin/vendor/owl.carousel/owl.carousel.min.js' %}" ></script>
    <script src="{% static 'admin/vendor/typed.js/typed.min.js' %}" ></script>
    <script src="{% static 'admin/vendor/aos/aos.js' %}" ></script>

    <script src="{% static 'admin/js/main.js' %}" ></script>






</body>

</html>
